output-directory = .
pdb-target = /home/benji/SurfCo/input/dis40/FIB-A.pdb
nanoparticle-radius = [35.0]
np-type = 1
zeta-potential = [-0.015]
pmf-directory = /home/benji/SurfCo/data/surface/C_amorph-1
hamaker-file = /home/benji/SurfCo/data/hamaker/CarbonBlack.dat
enable-surface
enable-core
enable-electrostatic
simulation-steps = 2000
angle-delta = 5.0
potential-cutoff = 5.0
potential-size = 1000
bjerum-length = 0.725
debye-length = 0.779
temperature = 310.15
pmf-cutoff = 1.0
amino-acids = [ALA, ARG, ASN, ASP, CYS, GLN, GLU, GLY, HIS, ILE, LEU, LYS, MET, PHE, PRO, SER, THR, TRP, TYR, VAL]
amino-acid-charges = [0.0, 1.0, 0.0, -1.0, 0.0, 0.0, -1.0, 0.0, 0.5, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
amino-acid-radii = [0.323, 0.429, 0.362, 0.356, 0.352, 0.386, 0.376, 0.285, 0.302, 0.401, 0.401, 0.405, 0.402, 0.421, 0.362, 0.328, 0.357, 0.449, 0.425, 0.377]
